<h1></h1>

<h2> My Inbox </h2>

<% @user_discussions.each do |discussion| %>
<div class="message">
  <%= cl_image_tag discussion.opposite_user.avatar, gravity: :face, crop: :scale, class: "avatar-large" %>
  <div class="message-name">
    <h3><%= discussion.opposite_user.first_name %> <% discussion.last_message %></h3>
    <p><%= l(discussion.last_message.created_at, format: :short) %></p>
  </div>
  <div class="message-body">
    <p><strong><%= discussion.last_message.title %></strong></p>
    <p><%= discussion.last_message.content %></p>
  </div>
  <div class="message-status">
    <%= link_to "Full Conversation", user_inboxes_path(discussion.opposite_user.id) %>
  </div>
</div>
  <% end %>

