<h1>Serial Noceurs</h1>

<p> Find here the best weddings to attend </p>

<%= link_to "Choose the wedding you'll be invited at", weddings_path %>

<h1>Weddings</h1>

<div class="row">
  <% @weddings.take(3).each do |wedding| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(wedding.photo.path) if wedding.photo %>)">
        <div class="card-category" >
          <h6><%= wedding.title %></h6>
        </div>
        <div class="card-description">
          <h6><%= wedding.location %> / <%= wedding.capacity %></h6>
        </div>
        <a class="card-link" href="<%= wedding_path(wedding) %>" ></a>
    </div>
  </div>
<% end %>
</div>

<h1>Expériences</h1>

<div class="row">
  <% @experiences.take(3).each do |experience| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(experience.photo.path) if experience.photo %>)">
        <div class="card-category" >
          <h6><%= experience.title %></h6>
        </div>
        <div class="card-description">
          <h6><%= experience.location %> / <%= experience.capacity %></h6>
        </div>
        <a class="card-link" href="<%= wedding_path(experience) %>" ></a>
    </div>
  </div>
<% end %>
</div>

