<h1>Weddings to come...</h1>

<div class="row">
  <% @weddings.each do |wedding| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(wedding.photo.path) if wedding.photo %>)">
      <div class="card-category"><%= wedding.title %></div>
      <div class="card-description">
        <h6><%= wedding.location %> | <%= wedding.capacity %></h6>
      </div>
      <a class="card-link" href="<%= wedding_path(wedding) %>" ></a>

    </div>
  </div>
  <% end %>
</div>




