<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag("logo_ns.png", alt: "logo SN") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

      <!-- Search Form in Navbar -->
  <form id="form" class="form-inline" action="/weddings" method="get">
    <div class="form-group">
      <label for="example-search-input" class="mr-sm-2"></label>
        <input class="form-control" name="location" type="search" placeholder="Essayez 'Savoie'" id="example-search-input">
    </div>
    <%= button_tag type: 'submit', class: "button my-button", id: "register-button" do %>
        <i class="fa fa-search" aria-hidden="true"></i>
    <% end %>
  </form>

    <div><a href="<%= new_wedding_path %>" class="navbar-wagon-item navbar-wagon-link">Become a wedder</a></div>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <a href="" class="navbar-wagon-link dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">Messages</a>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to messages_path do %> <i class="fa fa-envelope"></i> Private Messages
              <% end %>
        </ul>
      </div>
    </div>

    <% if user_signed_in? %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.avatar_url || "http://placehold.it/30x30" %>
          <%= cl_image_tag avatar_url.path, gravity: :face, crop: :crop, crop: :scale, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to users_profile_path do %> <i class="fa fa-user"></i> Profile
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %> <i class="fa fa-home"></i> Edit
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "Log out, sure?"} do %>
                <i class="fa fa-sign-out"></i>  Sign out
                <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
 <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to new_wedding_path do %><i class="fa fa-plus" ></i>Become a wedder</a><% end %></li>
        <li><%= link_to messages_path do %><i class="fa fa-envelope"></i> Private Messages<% end %></li>
        <li><%= link_to destroy_user_session_path, method: :delete, data: { confirm: "Log out, sure?"} do %>
                <i class="fa fa-sign-out"></i>  Sign out
                <% end %></li>
      </ul>
    </div>
  </div>
</div>
