<div class="navbar-wagon">

  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("logo_ns.png", alt: "logo SN") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <!-- Search Form in Navbar -->
  <form id="form" class="form-inline">
    <div class="form-group">
      <label for="example-search-input" class="mr-sm-2"></label>
        <input class="form-control" id="address" type="search" placeholder="Essayez 'Savoie'" id="example-search-input">
    </div>
    <%= button_tag type: 'submit', class: "button my-button", id: "register-button" do %>
        <i class="fa fa-search" aria-hidden="true"></i>
    <% end %>
  </form>

    <!-- Profile picture with dropdown list -->
     <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "login.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fa fa-user"></i> Sign Up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
             <i class="fa fa-transgender"></i> Sign In
            <% end %>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Wedder</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>
