<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>


    <%= render 'shared/components/explore_weddings', image_url: "https://a0.muscache.com/ac/pictures/39b36c59-7bf1-45da-b9a8-13bad3db5b26.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70
", type: 'tradi' %>

    <%= render 'shared/components/explore_weddings', image_url: "https://a0.muscache.com/ac/pictures/39b36c59-7bf1-45da-b9a8-13bad3db5b26.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70
", type: 'tradi plus long' %>

    <%= render 'shared/components/explore_weddings', image_url: "https://a0.muscache.com/ac/pictures/39b36c59-7bf1-45da-b9a8-13bad3db5b26.jpg?interpolation=lanczos-none&size=large&output-format=jpg&output-quality=70
", type: 'hey' %>

    <%=
      # render 'layouts/navbar'
    %>
    <%=
     # render 'devise/shared/flashes'
    %>
      <div class="container">
        <%=
          # yield
        %>
      </div>
    <%=
      # render 'layouts/footer'
    %>
    <%=
      # javascript_include_tag 'application'
    %>
    <%= cloudinary_js_config %>
  </body>
</html>
