<h1></h1>

<h2> My Message </h2>

<div class="container">
  <div class="message frame">
     <% @messages.each do |message| %>
    <div class="message-name">
      <p><%= l(message.created_at, format: :short) %></p>
    </div>
    <div class="message-body">
      <p><%= message.title %></p>
      <p><strong><%=message.content%></strong></p>
    </div>
      <% end %>
  </div>

  <%= simple_form_for(@message) do |f| %>
    <div class="form-inputs">
      <%= f.input :title, label: 'Message Subject', error: 'Subject mandatory, please specify one' %>
      <%= f.input :content, placeholder: 'Write your message here' %>
      <%= f.button :submit, label: 'Send' %>
    </div>
  <% end %>

</div>
